body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    text-align: justify;
}

#header-part {
    width: 90%;
    margin: 50px 5% 0;
    margin-bottom: 100px;
    display: flex;
}

#header-text {
    padding: 0px 5%;
    margin-top: 150px;
}

#header-title {
    border-left: 5px solid orangered;
    padding-left: 10px;
}

#header-title h1 {
    font-size: 75px;
    margin: 0;
    padding: 0;
}

.tomato-color {
    color: tomato;
}

.header-paragraph {
    margin: 30px 0;
}

.half-width {
    width: 50%;
}

.button-design {
    text-decoration: none;
    margin-top: 15px;
    padding: 15px 50px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

#header-img {
    display: block;
    width: 95%;
    margin: auto;
}

#my-mission-in-2022 {
    width: 80%;
    margin: 0 10%;
}

#flexbox-card {
    display: flex;
}

#my-mission-title {
    font-weight: 900;
    font-size: 55px;
    text-align: center;
}

#darkblue-color {
    color: darkblue;
}

#mission-card {
    background-color: #ecf5ff;
}

#vission-card {
    background-color: #f8eaec;
}

#goals-card {
    background-color: #fafae0;
}

.one-third-width {
    width: 30%;
    margin: 1.5%;
    padding: 15px;
    border-radius: 15px;
}

.card-img-width {
    width: 35%;
}

.card-title {
    font-size: 25px;
}